body {
    margin: 0;
    font-family: 'Abhaya Libre', serif;
    background-color: #000000;
    color: #FFFFFF;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    margin-left: 15px;
    color: #14B8B8;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Forte', sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1em;
}

.nav-links a:hover {
    color: #14B8B8;
}

.dropdown-container {
    position: relative;
    overflow: visible;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    display: block;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 8px);
    background-color: #212121;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 0.75rem;
    z-index: 9999;
    transition: 0.3s;
}

.dropdown-container:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu.grid {
    display: grid;
    grid-template-columns: repeat(2, 240px);
}

.dropdown-menu > a {
    font-weight: 600;
    padding: 1rem;
    background-color: #292929;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-menu > a:hover {
    background-color: #353535;
}
.dropdown-menu > a > span:nth-of-type(2) {
    color: #9ca3f9;
}

.search {
    display: inline-flex;
    align-items: center;
    background-color: #928D8D;
    color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #928D8D;
}

.search :is(input, button) {
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
}

::placeholder {
    font: inherit;
    color: white;
}

.action-button {
    display: flex;
    align-items: center;
}

.btn-riwayat {
    padding: 0.625rem 1rem;
    color: white;
}

.btn-langganan {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem 1rem;
    color: white;
    text-decoration: none;
    border: 2px solid #FFFFFF; 
    border-radius: 5px; 
    margin-right: 1rem;
}

.btn-masuk {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.625rem 1rem;
    border-radius: 5px;
    background-color: #14B8B8;
    color: white;
    text-decoration: none;
}

/* Header SERIAL */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 10px 80px;
    box-sizing: border-box;
}

.header-container h2 {
    margin: 10px;
    font-size: 1.5em; /* untuk ukuran font */
    color: #FFFFFF; /* warna teks */
    margin-top: 30px;
}

.more-link {
    margin-left: auto; /* Posisi"Lihat lainnya" ke sisi kanan */
    margin-top: 30px;
}

.more-link a {
    text-decoration: none;
    color: #ffffff; /* warna teks "Lihat lainnya" */
    font-size: 16px; /*  ukuran font */
}

.more-link a:hover {
    text-decoration: underline;
}

/* Container untuk daftar serial */
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    max-width: 1200px;
    margin: 0 auto;
}

.serial {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    flex: 1 1 calc(20% - 20px); 
    max-width: calc(20% - 20px); 
    height: 320px; 
    text-align: left;
    flex-direction: column; 
}

.serial img {
    width: 100%;
    height: 75%; 
    object-fit: cover; 
    border-radius: 10%;
}

.serial h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
}

.serial p {
    font-size: 0.9em;
    margin: 5px 0;
    color: #979595;
}

/* Footer */
.footer {
    padding: 20px; 
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-content {
    display: flex;
    margin-bottom: 20px;
    border-top: 1px solid #555;
    padding-top: 10px;
    margin-top: 10px;
}

.footer-content div {
    flex: 1;
    margin: 0 10px;
}

.footer-content h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-content a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.footer-content a:hover {
    text-decoration: underline;
}

.copyright {
    border-top: 1px solid #555;
    text-align: center;
}
